html, body {
    max-width: 100%;
    overflow-x: hidden;
}




a
{
    text-decoration: none;
    padding: 0;
    margin: 0;
}



#brand
{
    
    background-image: url('Designing a Realistic Coding Desk.jpg');
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 100%;
    height: 101%;
    
}

#brand.active
{
    position: absolute;
    top: 0; right: 0; bottom: 0; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    
    
}

#brand.off
{
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0; left: 0;    
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    transition: 1s;
    transform: translateY(-5px);    
    margin-bottom: 0;
    padding: 0;
    z-index: 1000;
}



#brand2
{
    position: absolute;
    background: black;
    top: 0; right: 0; bottom: 0; left: 0;
    opacity: 0.3;
    padding: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}



.brandtext
{
    color:aliceblue;
    margin: 0;
    padding: 0;
    transform: translateY(0px);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: "relative";
    top: 50%; right: 50%;
}


.brandtextoff
{
    display: none;
}

.enorme
{
    font-size: 60px;
    
}

.grandinho
{
    font-size: 20px;
}

.up
{
    transition: 1s;
    transform: translateY(-80px);
    z-index: 1000;
    
}


#iconsnav
{
    display: flex;
    list-style: none;
    position: fixed;
    flex-direction: row;
    top: 0; right:20px;
    z-index: 1000;
    color: white;
    border-radius: 5%;
    transform: translateY(-100px);

    
}



#iconsnav li a
{
    margin: -20px 5px 0 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


.icon span
{
   font-size: 30px;
   color:blue;
   padding: 0;
   margin: 0;

}

.icon h
{
   padding: 0;
   margin: 0;
   color:white;
}


.iconsend{

    font-size: 40px;
     
}




.icon:hover span
{
    transition: 1s;
    transform: translateY(35px);
    font-size: 80px;
    color: white;

}





.icon:hover h
{
    transition: 1s;
    transform: translateY(-90px);
}



.titulodocurso
{
    font-size: 30px; 
    color: grey
}


.descricaocurso
{
    font-size: 20px;
    
}



[name = "code-outline"]:hover
{
    background-color: rgb(91, 255, 91);
    border-radius: 60%;
    background-position: center;
    line-height: 45px;
}


[name = "reader-outline"]:hover
{
    background-color: rgb(73, 255, 225);
    border-radius: 60%;
    background-position: center;
    line-height: 45px;
}


[name = "book-outline"]:hover
{
    background-color: rgb(255, 73, 216);
    border-radius: 60%;
    background-position: center;
    line-height: 45px;
}


[name = "person-outline"]:hover
{
    background-color: rgb(23, 21, 32);
    border-radius: 60%;
    background-position: center;
    line-height: 45px;
}

#All
{
    display: none;
}

#ProjetosTitle
{
    height: 180px;

}

#CursoTitle
{
    position:static;
    
}

.topico
{
    display: none;
}


.topico.active
{
    color: #885eb9;
    font-size: 80px;
    font-style: italic;
    font-weight: 600;
    margin: 1px;
    background-color: #0e1538;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    padding-top: -40px;
    font-size: 60px;
    border: red 1px solid;

    

    

}


.topico:hover
{
    transition: 1s;
    border:#d400d4 3px solid;

}

#All.active
{
    
    display: block;
    position: absolute;
    top: 140px; right:0; left: 0; bottom: 0px;
    height: 800px;
    width: 100%;
    margin-top: -10px;
    margin: 0;
    padding: 0;
    padding-top: -40px;
    margin-top: -60px;
    
    
}

#All.active #Projetos
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background: #0e1538;
}

#divslide
{
    display: flex;
    justify-content: center;
    position: relative;
}


#textoslide
{
    position: absolute;
    top: 400px; left: 5px;
    color: grey;
    font-weight: 600;
    background: rgba(121, 111, 111, 0.322);
    width: 30%;
    border-radius: 10%;

}

#textoslide p
{
    margin: 5px;
    margin-left: 15px;
    padding: 0;
}

#dv_desvios
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
    padding: 0;

}

#slide
{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0;
    margin-top: 90px;
    margin-bottom: 90px;
    
}

.desvios
{
    display: flex;
    align-self: center;
    align-items: center;
    font-size: 70px;
    margin: 0px;
    font-weight: 600;
    color: grey;
    padding: 1.4px;
    height: 200px;
    margin: 0px;
    
}

.desvios:hover
{
    color: red;
    border: rgb(247, 48, 98) solid 1px;
    
}


.textos
{
    border: 1px solid #5f6368;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0e1538;
    flex-direction: column;
    width: 87.5%;
    margin: 0px;
    color:white;
    font-size: 20px;
    padding: 20px;
}


footer
{
    position: fixed;
    bottom: 20px;
    left: 20px;
    opacity: 0.3;
    z-index: 1000;
    

}

footer ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    list-style: none;
    height: auto;
    width: 200px;
       
}

footer li
{
    margin: 0 15px 0 0;
}


footer:hover
{
    opacity: 1;

}




[name = "logo-linkedin"]
{
  color: rgb(247, 48, 98);
}




[name = "logo-github"]
{
  color: #885eb9;
}

[name = "logo-whatsapp"]
{
  color: green;
}


.left
{
    transition : '2s';
    transform : 'translateX(-100px)';
    visibility : 'hidden';

}


.right
{

    transition: '2s';
    transform: 'translateX(100px)';
}


div.curso
{
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;

}


div.textodocurso
{
    background: #0e1538;
    width: 600px; 
    height: 300px; 
    position: absolute;
    top: 90px; left: -600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
   
}


div.curso img
{
    width: 600px; 
    height: 300px; 
    
}



#cursos
{
    display:flex; justify-content: space-between; align-items: center;
    background: #0e1538;
}

.textodocurso
{
    visibility: hidden;
}


.textodocurso.active
{
    visibility: visible;
    transition: 1s;
    transform: translateX(600px);
}


.textodocurso.desactive
{
    transition: 1s;
    transform: translateX(-600px);
}


#toHome
{
    background: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    z-index: 1000;
    position: fixed;
    bottom: 30px; right: 20px;
    opacity: 0.3;
    margin: 0;
    
  
}

#toHome:hover
{
    opacity: 1;
}

[name="home-outline"]
{
    font-size: 30px;
    color: white;
}


.gradiente
{
    width: 200px;
    height: 200px;
    margin: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.gradiente:before,
.gradientea:after
{
  content: '';
  inset: 0;  
  background: linear-gradient(45deg, #00ccff, #0e1538, #d400d4 ); 
  transition: 0.5s;
  position: absolute; 
}

.gradiente:hover:before,
.gradiente:hover:after
{
  inset: -3px;
  filter: blur(10px);
}

ul{
    list-style: none;
}

#certificados
{
    display: flex; 
    justify-content: center; 
    align-items: center;
    background: #0e1538;
}



.gradiente div
{
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%; height: 100%;
    background: #0e1538;
    margin: 0;
    color: white;
    display: flex;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    

}

.gradiente div p
{
    text-transform: uppercase;
}

.gradiente div a
{
   text-transform: capitalize;
}

#menutiny
{
     display: 'none';   
}


@media(max-width: 999px) {
    

    .grandinho
    {
        font-size: 10px;
    }

    .enorme,
    .topico.active
    {
        font-size: 30px;
    }


    .desvios
    {
        font-size: 30px;
    }

    .gradiente
    {
        width: 100px;
        height: 100px;
    }

    #cursos
    {
        flex-direction: column;
        justify-content: center;
    }

    

    

}



@media(max-width: 800px) {
    

    .grandinho
    {
        font-size: 10px;
    }

    .enorme
    {
        font-size: 20px;
    }



    #certificados
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #certificados ul
    {
        width: 100%;
    }

    .gradiente
    {
        width: 100%;
    }

    .gradiente div
    {
        flex-direction: row;
        width: 100%;
     
    }

    .gradiente div p
    {
        margin-right: 10px;
    }


    #divslide
    {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: static;
    }

    #divslide img
    {
        margin-bottom: 12px;

    }

    #textoslide
    {
        color: grey;
        font-weight: 600;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: fixed;

    }

    #textoslide p
    {
        margin: 5px;
        padding: 0;
    }

    #textoslide p.enorme
    {
        font-size: 30px;
    }

    #textoslide p.grandinho
    {
        font-size: 20px;
    }



}


@media(max-width: 600px) {
    
    

    div.curso img
    {
        width: 90%;
        height: auto;
    }

    .textodocurso.active
    {
        margin-left: -100px;
    }


    .titulodocurso
    {
        font-size: 20px; 
        
        width: 60%;
    }


    .descricaocurso
    {
        font-size: 15px;
        width: 60%;
        
    }



}

@media(max-width: 500px) {
    

    .grandinho
    .enorme
    {
        font-size: 10px;
    }


    #iconsnav
    {
        display: none;
    }
    
    #iconsnav.active
    {
        display: flex;
        flex-direction: column;
        align-items: start;
        top: 30%; right: 10px; left: 10px;
        background: #0e1538;
        padding-top: 90px;
        width: 90%;


        
    }

    #dv_desvios
    {
        margin-top: -30px;
    }

    #iconsnav.active li
    {
        width: 80%;
    }

    #iconsnav.active li a
    {
        flex-direction: row;
        margin-bottom: 20px;
        width: 100%;
        font-size: 25px;
        border-bottom: 1px solid #5f6368;
        
    }

    #iconsnav.active:hover span
    {
       transform: translateY(0);
           
    }

    #iconsnav.active:hover h
    {
        transform: translateY(0);
        
    }

    #menutiny.on
    {
        position: absolute;
        top: 10px; right:20px;
        z-index: 1000;
        background-color: #74757a;
        width: 50px;
        height: 50px;
        display: block;

    }


    #menutiny.on:before
    {
        content: ' ';
        position: absolute;
        background: white;
        transform: translateY(10px);
        transition: 0.25s;
        width: 50px; height: 2px;
        box-shadow: 0 15px 0 white;
    
    }

    #menutiny.on::after
    {
        content: ' ';
        position: absolute;
        background: white;
        transform: translateY(40px);
        transition: 0.25s;
        width: 50px; height: 2px;
    
    }

    #menutiny.on.active::before
    {
        transform: translateY(25px) rotate(45deg);
        box-shadow: none;
    }

    #menutiny.on.active::after
    {
        
        transform: translateY(25px) rotate(-45deg);
    }

 


}